<div class="app-callout">
  <h3>Want an interactive way to learn logic?</h3>
  <p>
    Enhance your critical thinking skills with Symbols Logic. Get access to the
    first studycard and the first level of all activities for free. Get the app
    now:
  </p>
  <div class="app-callout-button-container">
    <a
      href="https://play.google.com/store/apps/details?id=com.symbols_app.symbols"
    >
      <img
        src="../assets/images/playStoreButton.png"
        alt="Download Symbols Logic from the Play Store"
      />
    </a>

    <a href="https://apps.apple.com/us/app/symbols-logic/id1642996557">
      <img
        src="../assets/images/appStoreButton.png"
        alt="Download Symbols Logic from the App Store"
      />
    </a>
  </div>
</div>
