<footer>
  <div class="social-outreach">
    <a href="https://www.youtube.com/channel/UCQQaqEUCvth27W4mdNKJwSQ">
      <i class="fa-brands fa-youtube fa-xl"></i>
    </a>
    <a href="https://www.tiktok.com/@symbolslogic">
      <i class="fa-brands fa-tiktok"></i>
    </a>
    <a href="https://www.instagram.com/symbols_logic_app/">
      <i class="fa-brands fa-instagram fa-xl"></i>
    </a>
    <a href="https://www.facebook.com/people/Symbols-Logic/100087421009937/">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="mailto:support@symbols-app.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>

  {% if page.url contains '/lessons/' %}
    {% for lesson_section in site.data.lessons %}
    <h3>{{ lesson_section.section }}</h3>
    <ul>
      {% for lesson in lesson_section.lessons %}
      <li>
        <a href="{{ lesson.link }}" 
        {% if page.url == lesson.link %} class="active-lesson" {% endif %}> 
          {{ lesson.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  {% endif %}
</footer>
