<nav>
  <h4 class="logo">
    <a href="https://www.symbols-app.com"> symbols </a>
  </h4>

  <button id="nav-button" alt="Navigation Button" aria-label="Toggle navigation menu."></button>

  <ul id="nav-menu-list" alt="Navigation Menu" aria-label="Navigation menu">
    <div class="nav-container">
      {% for lesson_section in site.data.lessons %}
      <h4 class="nav-heading">{{lesson_section.section}}</h4>
      <ul>
        {% for lesson in lesson_section.lessons %}
        <li>
          <a href="{{ lesson.link }}" 
          {% if page.url == lesson.link %} class="active-lesson" {% endif %}> 
          {{ lesson.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
  </div>

</nav>
